.inner-one {
    background-color: green;
}

.inner-two {
    background-color: blue;
}

.inner-three {
    background-color: grey;
}

.inner-four {
    background-color: black;
}

.inner-five {
    background-color: yellow;
}